<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-red5pro"
    version="1.0.0">
    <name>Red5Pro</name>
    <description>Cordova Red5 Pro Mobile SDK Plugin</description>
    <license>MIT</license>
    <keywords>cordova,red5,video</keywords>

    <js-module src="www/red5pro.js" name="Red5Pro">
        <clobbers target="red5promobile" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Red5Pro" >
                <param name="android-package" value="com.red5pro.Red5Pro"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/Red5Pro.java" target-dir="src/com/red5pro/" />
        <lib-file src="src/android/red5/libs/red5streaming.jar"/>
        <source-file src="src/android/red5/libs/jniLibs" target-dir="app/src/main" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Red5Pro">
                <param name="ios-package" value="Red5Pro"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
            <string>Camera used for video publishing.</string>
        </edit-config>

        <edit-config target="NSMicrophoneUsageDescription" file="*-Info.plist" mode="merge">
            <string>Microphone used for audio publishing.</string>
        </edit-config>

        <header-file src="src/ios/red5pro.h" />
        <source-file src="src/ios/red5pro.m" />
    </platform>
</plugin>
